body {
	background-color: #FFFBFF;
}

.header {
	background-color: #869D7A;
	color: #E1D4B1;
}

.footer {
	background-color: #869D7A;
	color: #E1D4B1;
}

.body {

}

h1 {
	color: #E1D4B1;
}

h2 {
	color: #AA8D6D;
}
